<div class="todo">
  <div class="topo">
    <h1>
      Habilitação - Ajuste texto JSON
    </h1>
  </div>

  <div class="subtopo">
    <h3>
      Uso exclusivo para desenvolvimento e testes.
    </h3>
  </div>

  <div class="container">

    <div class="esquerda">

      <textarea class="esquerda"
                id="textoOriginal"
                placeholder="Insira o texto original"
                [(ngModel)]="textoOriginal"
      >
      </textarea>
    </div>

    <div class="center">
      <button
        (click)="tratamentoDoProcesso(textoOriginal)"
        class="btn btn-success"
        type="button">

        Formatar Json<i class="fa fa-angle-right"></i>
      </button>
    </div>

    <div class="direita">

    <textarea
      class="direita"
      id="textoTratado"
      placeholder="Informe o texto ao lado, aperte o botão e aguarde a magica"
      [(ngModel)]="textoTratado"
      readonly
      #resultado

    >
    </textarea>

    </div>

  </div>
  <div>
    <button
      (click)="copyInputMessage(resultado)"
      type="button">
      Copiar resultado
    </button>
  </div>
</div>
