<div class="body">
  <div class="topo">
    <h1>
      Habilitação - Montar query JSON
    </h1>
  </div>

  <div class="subtopo">
    <h3>
      Uso exclusivo para desenvolvimento e testes.
    </h3>
  </div>

  <div class="container">
    <div class="esquerda">
      <textarea class="esquerda"
                id="textoOriginal"
                placeholder="Coloque aqui o texto original"
                [(ngModel)]="textoOriginal"
      >
      </textarea>
    </div>

    <div class="center">
      <button
        (click)="tratamentoDoProcesso(textoOriginal)"
        type="button">
        Montar query
      </button>

      <button
        (click)="copyInputMessage(resultado)"
        type="button">
        Copiar resultado
      </button>
    </div>

    <div class="direita">

    <textarea
      class="direita"
      id="textoTratado"
      placeholder
      [(ngModel)]="textoTratado"
      readonly
      #resultado
    >
    </textarea>

    </div>
  </div>
</div>
